body{
    margin: auto;
    padding: auto;
    background-color: #141414;
}
.card {
    margin: 2px;
    box-shadow: 0 0 99px 9px #000;
    transition: all 1s;
    width: 250px;
    height: 500px;
}
.card:hover{
    scale: 1.1;
}
.serie{
    width: 300px;
}
.bloco{
    box-sizing: border-box;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.thumbnail{
    height: 100%;
    width: 100%;
}
.title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}
#owner{
    margin: auto;
    text-align: center;
}